main {
  padding: 10px;
}

.mdl-button {
  margin-left: 30px;
}

.boton-borrar {
  font-size: 0.7em;
  padding: 0;
  background-color: red;
  color: white;
}

.boton-borrar:hover {
  background-color: white;
  color: red;
}

.mdl-textfield__input,
.mdl-textfield__label {
  margin-left: 30px;
  margin-right: 30px;
  width: 80%;
}

img {
  border-radius: 20px;
}
